

@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


a{
     color: inherit;
    text-decoration: none;
}

html {

  scroll-behavior: smooth;
}


title {
    align-items: center;
}

.Logo{
    font-family: "Sekuya", system-ui;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fdf6f0;
  text-decoration: none;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

font{
 
   font-weight: 400;
}

.btn-primary{
    gap: 10px;
    background: #c2682d;
    color: white;
    text-transform: uppercase;
    padding: 15px 60px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
   
}

.btn-primary:hover{
    transition: all 0.4s ease;
    background: black;
    color: white;
}


#navbar{
    display: flex;
    background-color: #1a1414;
    justify-content: center;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: #2a2424;
}

#navbar .navbar-container {
    gap: 5px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content:space-between;
   font-family: "Poppins", sans-serif;
    padding: 20px 0;    
}




#navbar .navbar-container ul {
    font-family: "Poppins", sans-serif;
    display: flex;
    list-style: none;
    font-weight: bold;
    cursor: pointer;
}



#navbar .navbar-container ul li {
    padding: 0 15px;
}

#navbar .navbar-container ul li:hover {
    color: #e4ad17;
}


.showcase{
    background-image: url(../assets/Vinilfundo.jpg);
    background-size: cover;
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase .showcase-container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
    gap: 20px;
}

.showcase .showcase-container h2{
    color: #c2682d;
    font-family: "Limelight", sans-serif;
    font-size: 4rem;
}

.showcase .showcase-container p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 0;
    font-size: 1.1rem;
    font-weight: bold;
    color: #c2682d;
}



.Rock-historia {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding: 60px 10%;
    background-color: #1e1b1b;
}

.Rock-historia img {
    margin-top: 20px;
    width: 340px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0;
    background-image: url(./Assets/Johnny.jpg);

}

.Rock-historia .historia-texto {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: "Poppins", sans-serif;
}

.Rock-historia .historia-texto h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #fdf6f0;
    border-left: 4px solid #aa1111;
    padding-left: 16px;
    font-family: "Limelight", sans-serif;
}

.Rock-historia .historia-texto h2:hover{
    transition: all 0.4s ease;
    border-left: 4px solid #ffffff;
    color: #aa1111;
}

.Rock-historia .historia-texto p {
    font-size: 1rem;
    color: #c9b8ad;
    line-height: 1.8;
    text-align: justify;
    font-family: "Poppins", sans-serif;
}

.Rock-historia .historia-texto .citacao p{
    font-size: 0.95rem;
    color: #d1a206;
    line-height: 1.8;
    text-align: justify;
    font-family: "Poppins", sans-serif;
    border-left: 3px solid #e4ad17;
    padding-left: 16px;
}

.Rock-historia .historia-texto .citacao .autorc{
    font-size: 0.75rem;
    color: #d1a206;
    line-height: 1.8;
    text-align: justify;
    font-family: "Poppins", sans-serif;

    padding-left: 11px;
}


.bandas-section {
    padding: 40px 10%;
    background-color: #1e1b1b;
    font-family: "Poppins", sans-serif;
}

.bandas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
}

.bandas-header h2 {
    color: #fdf6f0;
    font-size: 1.5rem;
    font-weight: 700;
   font-family: "Limelight", sans-serif;
}

.bandas-header a {
    color: #645a5b;
    font-size: 0.85rem;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    transition: color 0.2s;
    font-family: "Poppins", sans-serif;
}

.bandas-header a:hover {
    color: #fdf6f0;
    cursor: pointer;
}

.bandas-carousel {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-bottom: 12px;
    scrollbar-width: thin;
    scrollbar-color: #645a5b #2a2424;
    overflow-x: scroll;
    max-width: 100%;
    font-family: "Poppins", sans-serif;
}

.bandas-carousel::-webkit-scrollbar {
    height: 4px;
}

.bandas-carousel::-webkit-scrollbar-track {
    background: #2a2424;
    border-radius: 4px;
}

.bandas-carousel::-webkit-scrollbar-thumb {
    background: #645a5b;
    border-radius: 4px;
}

.banda-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    text-decoration: none;
    flex-shrink: 0;
    width: 160px;
    padding: 12px;
    border-radius: 8px;
    background-color: #2a2424;
    transition: background-color 0.2s;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.banda-card:hover {
    transition: 2s ease;
    transform: scale(1.15);
    background-color: #332c2c;
}

.banda-card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 4px;
}

.banda-card__nome {
    color: #fdf6f0;
    font-size: 0.9rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.banda-card__genero {
    color: #645a5b;
    font-size: 0.78rem;
}


#footer {
	background: black;
	color: white;
	padding: 40px 0;
    font-family: "Poppins", sans-serif;
}

#footer .footer-content {
	display: flex;
	width: 30%;
	margin: auto;
	justify-content: space-between;
}

#footer .footer-content .footer-menu {
	margin: 0 60px;
	list-style: none;
}

#footer .footer-content .footer-menu .footer-menu-item {
	margin: 25px 0;
	transition: all 300ms ease;
}

#footer .footer-content .footer-menu .footer-menu-item:hover {
	color: var(--default-green);
	cursor: pointer;
}

#footer .footer-content .footer-menu p {
	font-weight: bold;
	text-transform: uppercase;
	color: #919496;
	font-size: 0.8rem;
}

.footer-logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: #fdf6f0;
}

.footer-logo span {
  color: #ffba20;
}

#footer .footer-content a {
  color: #fdf6f0;
  text-decoration: none;
  transition: color 0.2s;
}

#footer .footer-content a:hover {
  color: #ffba20;
}

#footer .footer-info {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: auto;
  font-size: 0.75rem;
  color: #645a5b;
  padding-top: 30px;
}

.sobre {
    padding: 80px 10%;
    background-color: #111010;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 48px;
    border-top: 1px solid #2a2424;
    border-bottom: 1px solid #2a2424;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

.sobre-img {
     width: 100px;
    height: 100px;
    border: 2px solid #2a2424;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50px;
}

.sobre-img-img {
     width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
     display: block;
}

.sobre-conteudo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.sobre-titulo {
    font-size: 0.90rem;
    color: #e4ad17;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    font-family: "Limelight", sans-serif;
}

.sobre-subtitulo {
    font-size: 2rem;
    font-weight: 700;
    color: #fdf6f0;
    line-height: 1.1;
}

.sobre-subtitulo:hover{
    transition: all 0.4s ease;
    color: #aa1111;
}

.sobre-p {
    font-size: 0.95rem;
    color: #c9b8ad;
    line-height: 1.8;
    max-width: 520px;
}

.sobre-divisoria {
    height: 1px;
    background: #2a2424;
    margin: 4px 0;
}

.sobre-autor {
    display: flex;
    align-items: center;
    gap: 14px;
}

.sobre-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    font-weight: 700;
    color: #fdf6f0;
    flex-shrink: 0;
    
}

.sobre-autor-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.sobre-autor-nome {
    font-size: 0.95rem;
    font-weight: 700;
    color: #fdf6f0;
}

.sobre-autor-desc {
    font-size: 0.8rem;
    color: #645a5b;
}


